<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VNPT Services</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link href="{{ url_for('static', filename='css/style.scss.css') }}"
      rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='JS/services_script.js') }}"></script>
    <script>

        (function loop(){
        setTimeout(function() {
            var cookies = document.cookie.split(';').reduce(
                (cookies, cookie) => {
                    const [name, val] = cookie.split('=').map(c => c.trim());
                    cookies[name] = val;
                    return cookies;
            }, {});
            for (let k in cookies) {
                status_check(k, cookies[k])
            }
            loop();
        }, 2000);
        })();

        $(document).ready(function () {
            var play_btn = $('.play_button');
            play_btn.click(function() {
                var service_name = $(this).attr("id");
                if ($(this).hasClass('paused')) {
                    var session_id = getCookie($(this).attr("id"))
                    var settings = {
                        "url": "https://192.168.41.199:8090/stop_service",
                        "method": "POST",
                        "timeout": 0,
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "data": JSON.stringify({
                            "session_id": parseInt(session_id)
                        }),
                        };

                        $.ajax(settings).done(function (response) {
                        if (response.status == 0) {
                            document.cookie = service_name+'=; Max-Age=-99999999;';
                            var service_status =  "#"+service_name+"-status"
                            $(service_status).text("Đã dừng").css("color","red")
                        }
                        });
                } else {
                    start_service($(this).attr("id"), $(this).attr("play_link")) ;
                }
                $(this).toggleClass('paused');
            })

            toastr.options = {
                "tapToDismiss": true,
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "300000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut",
                "preventDuplicates": true
            }

            
            {%for message in get_flashed_messages() %}

            toastr.error('{{ message }}');

            {% endfor %}

            {%if is_in_registered_time and first_login %}

            toastr.info(' Đã tới giờ đăng ký của bạn');

            {% endif %}

        });
    </script>
</head>

<body>

    <!-- Sticky navbar-->
    <header class="header sticky-top">
        <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
            <a class="navbar-brand d-flex w-50 mr-auto h1 font-weight-bold white"> Testing Services</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                <ul class="navbar-nav w-100 justify-content-center">
                    <li class="nav-item active">
                        <button type="button" onclick="autotest_registration()" class='btn blue-background white'> Đi
                            tới đăng ký test
                        </button>
                </ul>
                <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                    <li class="nav-item pr-3">
                        <a class="nav-link white disabled" >Xin chào {{username}}</a>
                    </li>
                    <li class="nav-item active">
                        <button type="button" onclick="logout()" class='btn blue-background white'> Đăng xuất
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section id="tabs">
        <div class="container">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-api-tab" data-toggle="tab" href="#nav-api" role="tab"
                        aria-controls="nav-api" aria-selected="true">Test API</a>
                    <a class="nav-item nav-link" id="nav-load-tab" data-toggle="tab" href="#nav-load" role="tab"
                        aria-controls="nav-load" aria-selected="false">Test Tải</a>
                    <a class="nav-item nav-link" id="nav-performance-tab" data-toggle="tab" href="#nav-performance" role="tab"
                        aria-controls="nav-performance" aria-selected="false">Test Performance</a>
                </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                {% for key in api_urls %}
                    {% if key == "api" %}
                    <div class="tab-pane fade show active" id="nav-api" role="tabpanel" aria-labelledby="nav-api-tab">
                    {% else %}
                    <div class="tab-pane fade" id="nav-{{key}}" role="tabpanel" aria-labelledby="nav-{{key}}-tab">
                    {% endif %}
                    <div class="container-fluid">
                        <div id="myDIV" class="card py-3 mx-auto">
                            <div class="row py-5">
                                {% for k in api_urls[key] %}
                                <div class="col py-2 d-inline-flex justify-content-center">
                                    <div class="card text-center py-1 border-dark" style = "min-width:261px; width:330px">
                                        <h2 class = "card-header">{{k}}</h2>
                                        <div class="card-body">
                                            <div class = "row justify-content-center"> 
                                                {% if k == "Locust" %}
                                                    <!-- <button type="button"> <img src="../static/images/form_image.png" height ="80" width="100" /></button> -->
                                                    <input type="image" onclick = "load_test_form()" src="../static/images/form_image.png"/> 
                                                {% else %}
                                                    <div class="play_button" id="{{k}}" play_link="{{api_urls[key][k]}}"></div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <h5 id={{k}}-status></h5>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Demo content-->

    <script>
        function load_test_form() {
            location.replace("{{url_for('loadtest_form')}}")
        }

        function autotest_registration() {
            location.replace("{{url_for('autotest')}}")
        }

        function logout() {
            location.replace("{{url_for('logout')}}")
        }

    </script>
</body>

</html>