<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VNPT Services</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/services.css') }}">
    <link href="{{ url_for('static', filename='css/style.scss.css') }}"
      rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='JS/services_script.js') }}"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>


    <script>
        $(document).ready(function () {
            toastr.options = {
                "tapToDismiss": true,
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "300000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut",
                "preventDuplicates": true
            }

            
            {%for message in get_flashed_messages() %}

            toastr.error('{{ message }}');

            {% endfor %}

            {%if is_in_registered_time and first_login %}

            toastr.info(' Đã tới giờ đăng ký của bạn');

            {% endif %}

        });

    </script>
</head>

<body>

    <!-- Sticky navbar-->
    <header class="header sticky-top">
        <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
            <a class="navbar-brand d-flex w-50 mr-auto h1 font-weight-bold white"> Testing Services</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                <ul class="navbar-nav w-100 justify-content-center">
                    <li class="nav-item active">
                        <button type="button" onclick="autotest_registration()" class='btn btn-header blue-background white'> Đi
                            tới đăng ký test
                        </button>
                </ul>
                <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                    <li class="nav-item pr-3">
                        <a class="nav-link white disabled" >Xin chào {{username}}</a>
                    </li>
                    <li class="nav-item active">
                        <button type="button" onclick="logout()" class='btn btn-header blue-background white'> Đăng xuất
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section id="tabs">
        <div class="container">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-api-tab" data-toggle="tab" href="#nav-api" role="tab"
                        aria-controls="nav-api" aria-selected="true" onclick="$('#listTabs').children().removeClass('show active')">Test API</a>
                    <a class="nav-item nav-link" id="nav-load-tab" data-toggle="tab" href="#nav-load" role="tab"
                        aria-controls="nav-load" aria-selected="false" onclick="$('#listTabs').children().removeClass('show active')">Test Tải</a>
                    <a class="nav-item nav-link" id="nav-performance-tab" data-toggle="tab" href="#nav-performance" role="tab"
                        aria-controls="nav-performance" aria-selected="false" onclick="$('#listTabs').children().removeClass('show active')">Test Performance</a>
                </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                {% for test_type in service_structure %}
                    {% if loop.first %}
                    <div class="tab-pane fade show active" id="nav-{{test_type}}" role="tabpanel" aria-labelledby="nav-{{test_type}}-tab">
                    {% else %}
                    <div class="tab-pane fade" id="nav-{{test_type}}" role="tabpanel" aria-labelledby="nav-{{test_type}}-tab">
                    {% endif %}
                        <div class="container-fluid" style = "padding-left: 0; padding-right: 0;">
                            <div id="myDIV" class="card py-1 mx-auto">
                                {% if test_type == "api" %}
                                    <div class="d-flex align-items-end flex-column">
                                        <div type="button" data-toggle="modal" data-target="#groupModal" class="create_button" onclick="getElementById('hidden_val_group').setAttribute('value', '{{test_type}}')">Create group</div>
                                    </div>
                                    <div class="row py-3">
                                        {% for group in service_structure[test_type] %}
                                            <div class="col-3 py-1 d-inline-flex justify-content-center">
                                                <button type="button" class="sv_button nav-link" id="{{group}}" onclick="toggle_table('{{group}}-list')" role="button" > {{group}}</button>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                <div class="row py-3">
                                    {% for group in service_structure[test_type] %}
                                        <div class="col-3 py-1 d-inline-flex justify-content-center">
                                            <button type="button" class="sv_button nav-link" id="{{group}}" onclick="process_group('{{group}}')" role="button" > {{group}}</button>
                                        </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="groupModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="groupModalLabel">Create Group</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post">
                            <div class="form-group">
                                <input type="hidden" name="form_name" id = "group_form_name" value="group" />
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input class="form-control text_input" placeholder="Enter group name" id="name" name="group_name" required>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="group_type" id = "hidden_val_group" value=""/>
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" name="createbtn">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        
            <div class="tab-content pt-4" id="listTabs">
                {% set cnt = [0] %}
                {% for test_type in service_structure %}
                {% for group in service_structure[test_type] %}
                {% if cnt.append(cnt.pop() + 1) %}{% endif %}
                {% if current_tab == group %}
                    <div class="tab-pane fade show active" id="{{group}}-list" role="tabpanel" aria-labelledby="{{group}}">
                {% else %}
                    <div class="tab-pane fade" id="{{group}}-list" role="tabpanel" aria-labelledby="{{group}}">
                {% endif %}
                        <div class="container">
                            <div class="list-header">
                                <h3>{{group}}'s list</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-12 px-0">
                                    <div class="table-wrap">
                                        <table class="table table-responsive-xl">
                                        <thead>
                                            <tr>
                                            <th style="width: 75px;">
                                                <div class="dropdown">
                                                    {% if service_structure[test_type][group]|length == 0 %}
                                                    <button class="btn dropdown-toggle" type="button" style="background: #0b5394; color:#ffffff;" id="dropdownMenuButton{{cnt[0]}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                                                    Actions
                                                    </button>
                                                    {% else %}
                                                    <button class="btn dropdown-toggle" type="button" style="background: #0b5394; color:#ffffff;" id="dropdownMenuButton{{cnt[0]}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Actions
                                                    </button>
                                                    {% endif %}
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{cnt[0]}}">
                                                        <a class="dropdown-item" href="javascript:;"  onclick = "select_all('{{group}}')">Select all</a>
                                                        <a class="dropdown-item" href="javascript:;" onclick = "select_all('{{group}}', false)">Unselect all</a>
                                                        <a class="dropdown-item" href="javascript:;" onclick = "delete_selected('{{group}}', false, null)">Delete selected</a>
                                                        <a class="dropdown-item" href="javascript:;" onclick = "run_test(null, null, group = '{{group}}', 1)">Run selected with cache</a>
                                                        <a class="dropdown-item" href="javascript:;" onclick = "run_test(null, null, group = '{{group}}')">Run selected without cache</a>
                                                    </div>
                                                </div>
                                            </th>
                                            <th>Name</th>
                                            <th style = "word-wrap: break-word; width: 200px;">Description</th>
                                            <th style = "width: 113px;">Run</th>
                                            <th>Cache</th>
                                            <th style="width: 168px;">Status</th>
                                            <th style = "max-width:100px; padding: 20px;">
                                                <div type = "button" class="create_button" data-toggle="modal" data-target=".create-tests-modal" onclick="getElementById('parent_group_type').setAttribute('value', '{{group}}')">Create Test</div>
                                            </th>
                                            
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for test_case in service_structure[test_type][group] %}
                                            <tr class="alert" role="alert">
                                                <td>
                                                    <label class="checkbox-wrap checkbox-primary">
                                                        <input class="{{group}}-checks" test_name = "{{test_case['test_name']}}" type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td> 
                                            <td class="align-items-center">
                                                <div class="name">
                                                    <span>{{test_case["test_name"]}}</span>
                                                </div>
                                            </td>
                                            <td class="align-items-center">
                                                <div class="description">   
                                                    <span>{{test_case["description"]}}</span>
                                                </div>
                                            </td>
                                            {% set test_name = test_case['test_name'] %}
                                            {% set run_id = test_name ~ '-button' %}
                                            <td> <div class="play_button" id={{run_id}} play_link="test_case['link_test_api']" onclick="run_test(['{{test_name}}'],'{{run_id}}', null)"></div></td>
                                            <td>
                                                <input type="checkbox" data-toggle="toggle" data-onstyle="primary" data-size="sm" id="{{test_name}}-cache">
                                            </td> 
                                            <td class="status"><span class="active" id="{{test_case['test_name']}}-status">{{test_case['status']}}</span></td>
                                            <td>
                                                <button type="button" class="close" data-dismiss="alert" onclick = "delete_selected(null, true, '{{test_name}}')"aria-label="Close">
                                                <span aria-hidden="true"><i class="fa fa-close" style="font-size:23px;"></i></span>
                                            </button>
                                            </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
                <div class="modal fade create-tests-modal" tabindex="-1" role="dialog" aria-labelledby="create-tests-modal" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="groupModalLabel">Create Test</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="test_form" method="post" role="form" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="hidden" name="test_form_name" id = "test_form_name" value="test" />
                                    </div>
                                    <div class="form-group">
                                        <label for="name">API URL:</label>
                                        <input class="form-control" placeholder="Enter url" id="test_url" name="test_url" value="{{create_test}}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Description:</label>
                                        <input class="form-control text_input" placeholder="Enter description" id="description" name="description" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" name="parent_group_type" id = "parent_group_type" value="" />
                                    </div>
                                    <div class="mb-3">
                                        <label for="formFile" class="form-label">Config file</label>
                                        <input class="form-control" style="padding-bottom: 2.5rem!important;" type="file" name="file" id="file">
                                    </div> 
                                </div>
                                <div class="modal-footer">
                                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" name="createbtn">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="modal fade loader-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1" id = "loader-modal">
                    <div class="modal-dialog loader-modal-dialog modal-sm">
                        <div class="loader-modal-content modal-content" style="width: 48px">
                            <span class="fa fa-spinner fa-spin fa-3x"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script>
    // var base_url = window.location.origin + ":{{port}}/"
    
    function load_test_form() {
        location.replace("{{url_for('loadtest_form')}}")
    }

    function autotest_registration() {
        location.replace("{{url_for('autotest')}}")
    }

    function logout() {
        location.replace("{{url_for('logout')}}")
    }

    function delete_selected(group = null, single=false, test_name = null) {
    var data = null
    if (single == false) {
        data = check_selected(group)
    } else {
        data = [test_name]
    }
    var settings = {
        "url": "{{url_for('delete_test')}}",
        "method": "POST",
        "timeout": 0,
        "headers": {
            "Content-Type": "application/json"
        },
        "data": JSON.stringify(data),
        };
    $.ajax(settings).done(function (response) {
    if (response.status == 0) {
        toastr.success('Đã xóa thành công');
        }
    else {
        toastr.error ("Xóa không thành công");
    }
    });  
}

    function run_test(test_name, id, group, cache = 0) {
        if (id != null) {
            is_cache = document.getElementById(test_name[0] + "-cache").checked;
            if (is_cache) {
                cache = 1;
            }
            var element = document.getElementById(id);
            if (element.classList.contains("play_button")) {
                element.classList.toggle("play_button");
                element.classList.toggle("loader");
            } else {
                return
            }
        }
        else {
            $('#loader-modal').modal('show');
            test_name = check_selected(group)
        }
        for (let i = 0; i < test_name.length; i++) {
            status_indicator = test_name[i] + "-status"
            document.getElementById(status_indicator).className = 'waiting';
            document.getElementById(status_indicator).textContent = "Running";
        }
        var settings = {
            "url": "{{url_for('run_test')}}",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json",
            },
            "data": JSON.stringify({"services":test_name, "is_cache":cache}),
            };
            
            $.ajax(settings).done(function (response) {
                if (id != null) {
                    element.classList.toggle("loader");
                    element.classList.toggle("play_button");
                } else {
                    $('#loader-modal').modal('hide');
                }
                if (response.status == 0 ) {
                    for (let i = 0; i < test_name.length; i++) {
                        toastr.success('Chạy test thành công');
                        status_indicator = test_name[i] + "-status"
                        document.getElementById(status_indicator).className = 'completed';
                        document.getElementById(status_indicator).textContent = "Completed";
                    }
                } else {
                    toastr.error('Việc chạy test đã gặp lỗi');
                    for (let i = 0; i < test_name.length; i++) {
                        status_indicator = test_name[i] + "-status"
                        document.getElementById(status_indicator).className = 'error';
                        document.getElementById(status_indicator).textContent = "Error";
                    }
                }
        });
    }

    (function($) {
    "use strict";
    $('[data-toggle="tooltip"]').tooltip()
    })(jQuery);

    $('.text_input').on('input', function() {
    var c = this.selectionStart,
        r = /[^a-z0-9]/gi,
        v = $(this).val();
    if(r.test(v)) {
        $(this).val(v.replace(r, ''));
        c--;
    }
    this.setSelectionRange(c, c);
    });

    </script>
</body>
</html>

